body{
    font-size: sans-serif;
}
.main{
    position: relative;
    top: 50%;
    left: 40%;
    width: 300px;
    height: 300px;
    border:2px solid black;
    /* border-radius: 50%; */
}

.point{
    height: 50%;
    width: 1px;
    /* background-color: black; */
    /* border-left: 1px solid black; */
    border-right: 1px solid black;
    /* border-bottom: 1px solid black; */
    border-top: 1px solid red;
    z-index: 2;
    position: absolute;
    top: 0%;
    left: 50%;
    transform-origin: 49% 100%;
    transform: rotate(0deg);
}

#hor{
    position: absolute; 
    top: 50%; 
    width: 100%; 
    border-top: 1px solid black;
}

#ver{
    position: absolute; 
    left: 50%; 
    top: 0%; 
    height: 100%; 
    border-left: 1px solid black;
}

.inner_main{
    position: absolute;
    top: 30%;
    left: 40%;
    height: 100px;
}


.time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
}

#minute, #colon, #second{
    font-size: 2rem;
    height: 70px;
    margin: 0;
}

#colon{
    padding-bottom: 5px;
}

.button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: forestgreen;
    background-color: white;
    position: relative;
}
#reset{
    margin-left: 10px;
}

.cloud{
    color: black;
    position: absolute;
    top: 150%;
    left: 0%;
    display: none;
    border: 1px solid black;
}

.button:hover .cloud{
    display: flex;
}