.main{
    position: absolute;
    top: 40%;
    left: 45%;
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button{
    height: 20px;
    width: 50px;
    color: red;
    background-color: white;
}